@model List<Product>

<div class="table-responsive">
    <form method="Post">
    <a asp-controller="Products" asp-action="Create" class="btn btn-danger">Create</a>
    </form>
    <table class="table table-responsive table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Color</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td style="color: @item.Color">@item.Color</td>
                                <td>
                                    <a asp-route-Id="@item.Id" asp-controller="Products" asp-action="Delete" class="btn btn-danger">Delete</a>
                                    <a asp-route-Id="@item.Id" asp-controller="Products" asp-action="Detail" class="btn btn-primary">Detail</a>
                                    <a asp-route-Id="@item.Id" asp-controller="Products" asp-action="Update" class="btn btn-warning">Edit</a>
                                </td>
                            </tr>
            }
        </tbody>
    </table>
</div>